kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: gio-pvc-postgres
  namespace: gio
spec:
  accessModes: 
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: ebs-sc