kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: gio-postgres-pvc
  namespace: gio
spec:
  accessModes: 
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: gp2

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gio-postgres-pvc
  namespace: gio
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: gp2
